@import "../../styles/variables";
@import "../../styles/mixins";

.catalog {
  padding: 20px 0;

  &__main-content {
    width: 75%;

    @include large {
      width: 70%;
    }

    @include medium {
      width: 55%;
    }

    @include small {
      width: 100%;
    }
  }

  &__inner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @include small {
      display: block;
    }
  }

  &__cards-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include small {
      margin-top: 30px;
    }
  }

  &__pagination {
    margin: 3rem 0 5rem;
  }
}