@import "../../styles/variables";
@import "../../styles/mixins";

.catalog {
  padding: 20px 0;

  &__inner,
  &__cards-div {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    margin-top: 30px;
  }

  &__cards-div {
    flex-wrap: wrap;
    width: 75%;
  }
}