@import "../../styles/variables";
@import "../../styles/mixins";

.mini-basket {
  display: flex;
  align-items: center;
  padding-left: 10px;

  &__icon-div {
    margin-right: 15px;
    position: relative;
  }

  &__amount {
    font-weight: 700;
    color: $white;
    line-height: 22px;
    background-color: $yellow;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -9px;

    @include small {
      font-weight: 400;
      height: 15px;
      width: 15px;
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__inner {
    @include medium {
      display: none;
    }
  }

  &__inner p {
    margin: 0;
  }

  &__name {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }

  &__sum {
    font-weight: 600;
    color: $black;
  }

  &__icon {
    @include small {
      width: 22px;
      height: 16px;
    }
  }
}