@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #EDEDED;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);

  &__top {
    padding: 20px 0;

    @include medium {
      display: none;
      padding-bottom: 0;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include medium {
      display: block;
    }
  }

  &__top-box {
    display: flex;
    align-items: center;

    @include large {
      display: none;
    }

    @include medium {
      display: block;
    }
  }

  &__top-box-border {
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
    margin-right: 15px;
    padding-right: 15px;

    @include medium {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }

  &__top-box-inner {
    display: flex;
    align-items: center;

    @include medium {
      margin-bottom: 15px;
    }
  }

  &__info {
    margin-left: 15px;
  }

  &__divider {
    height: 1px;
    background-color: $grey3F;
    opacity: 0.1;
  }

  &_divider1 {
    @include medium {
      display: none;
    }
  }

  &__nav {
    @include large {
      width: 100%;
    }

    @include medium {
      margin-top: 20px;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__nav-item {
    display: inline-block;
    line-height: 21px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px dashed rgba(63, 78, 101, 0.1);

    &:first-child {
      border-left: none;

      @include large {
        margin-left: 0;
        padding-left: 0;
      }
    }

    &:hover {
      cursor: pointer;
      color: $yellow;
    }

    @include extraLarge {
      margin-left: 10px;
      padding-left: 10px;
    }

    @include large {
      margin-left: 30px;
      padding-left: 30px;
    }

    @include medium {
      display: block;
      border-left: none;
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 15px;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }


  &__bottom {
    padding: 10px 0;
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include extraLarge {
      align-items: flex-start;
    }

    @include large {
      align-items: center;
    }

    @include medium {
      display: block;
    }
  }

  &__bottom-inner2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;

    @include extraLarge {
      width: 75%;
      justify-content: start;
    }

    @include medium {
      width: 100%;
      padding-top: 10px;
    }
  }

  &__bottom-box1 {
    width: 13%;

    @include extraLarge {
      width: 20%;
    }

    @include medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0;
    }
  }

  &__btn {
    color: $white;
    font-weight: 700;
    line-height: 16.94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 54px;
    border: 1px solid transparent;
    background-color: $yellow;
    border-radius: 79px;

    &:hover {
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    @include large {
      padding: 17px 30px;
    }

    @include medium {
      background-color: transparent;
      color: $grey3F;
      font-weight: 600;
      font-size: 12px;
      line-height: 14.52px;
    }
  }

  &__btn span {
    margin-right: 10px;
  }

  &__bottom-search-div {
    background-color: $white;
    height: 59px;
    display: flex;
    align-items: center;
    border-radius: 36px;
    justify-content: space-around;
    width: 230px;

    @include extraLarge {
      margin-right: 20px;
    }

    @include large {
      height: 53px;
    }

    @include medium {
      background-color: transparent;
      width: inherit;
      flex-direction: row-reverse;
      margin-right: 0;
      height: inherit;
    }
  }

  &__bottom-search-div input {
    border-color: transparent;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: $grey5C;
      font-size: 12px;
      opacity: 0.6;

      @include medium {
        font-weight: 600;
        line-height: 14.52px;
        color: $grey3F;
      }
    }

    @include medium {
      width: 80%;
    }
  }

  &__bottom-search-btn {
    border-color: transparent;
    background-color: $yellow;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    line-height: 39px;

    @include medium {
      background-color: transparent;
      width: 20%;
      margin-right: 10px;
    }
  }

  &__bottom-search-form {
    @include medium {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }

  &__bottom-box2 {
    @include extraLarge {
      margin-right: 20px;
    }

    @include medium {
      margin-right: 0;
      width: 50%;
      display: flex;
      justify-content: center;
      border-right: 1px dashed rgba(63, 78, 101, 0.1);
    }
  }

  &__bottom-box3 {
    display: flex;
    align-items: center;
    margin-right: 10px;

    @include large {
      display: none;
    }
  }

  &__bottom-box4 {
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
    border-left: 1px dashed rgba(63, 78, 101, 0.1);
    padding: 0 15px;

    @include extraLarge {
      border: none;
      padding: 0;
    }

    @include large {
      display: none;
    }
  }

  &__contacts p {
    margin: 0 0 3px 0;
  }

  &__bottom-box3-inner {
    text-align: right;
    margin-right: 10px;
  }

  &__bottom-box5 {
    @include medium {
      display: none;
    }
  }

  &__menu-btn {
    display: none;

    @include medium {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $yellow;
      border-color: transparent;
      line-height: 39px;

      &:hover {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }

    @include small {
      width: 32px;
      height: 32px;
      line-height: 29px;
    }
  }

  &__basket-hidden {
    display: none;

    @include medium {
      display: block;
    }
  }

  &__logo-img {
    @include small {
      width: 97px;
      height: 41px;
    }
  }

  &__divider-hidden {
    display: none;

    @include medium {
      display: block;
      margin: 0 -15px;
    }
  }

  &__catalog-grey,
  &__search-grey {
    display: none;

    @include medium {
      display: inline;
      margin-right: 10px;
    }
  }

  &__catalog,
  &__search {
    @include medium {
      display: none;
    }
  }
}