@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  width: 20%;

  @include large {
    width: 27%;
  }

  @include medium {
    width: 40%;
  }

  @include small {
    width: 100%;
  }

  &__title {
    font-weight: 500;
    line-height: 24px;
    color: $black;
    text-transform: uppercase;
  }

  &__price-label {
    font-weight: 300;
  }

  &__KZT {
    font-weight: 500;
    color: $black;
  }

  &__price-filter {
    display: flex;
    justify-content: space-between;
  }

  &__price-input {
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-color: transparent;
    outline: none;
    border-radius: 20px;
    text-align: center;
    color: $grey3F;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    width: 45%;
    height: 23px;
  }

  &__mini-title,
  &__filter-list-item {
    font-size: 16px;
    line-height: 24px;
  }

  &__filter-list-item {
    @include large {
      font-size: 14px;
    }
  }

  &__mini-title {
    font-weight: 500;
    color: $black;
  }

  &__producer-filter {
    padding-bottom: 20px;
  }

  &__producer-search-form {
    margin-bottom: 20px;
  }

  &__producer-search-div {
    background-color: $greyED;
    height: 59px;
    display: flex;
    align-items: center;
    border-radius: 36px;
    justify-content: space-around;

    @include large {
      padding: 0 5px;
    }
  }

  &__producer-search-input {
    border-color: transparent;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: $grey5C;
      font-size: 12px;
      opacity: 0.6;
      line-height: 18px;
    }
  }

  &__producer-search-btn {
    border-color: transparent;
    background-color: $yellow;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    line-height: 39px;
  }

  &__producer-checkbox-div {
    margin-bottom: 10px;
  }

  &__producer-amount {
    font-size: 10px;
    line-height: 15px;
    margin-left: 5px;
  }

  &__show-all {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__show-all-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-right: 10px;
  }

  &__show-results-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include medium {
      justify-content: center;
    }
  }

  &__show-results-btn,
  &__show-results-remove-btn {
    border-color: transparent;
    background-color: $yellow;
  }

  &__show-results-btn {
    color: $white;
    font-weight: 700;
    line-height: 16.94px;
    text-align: center;
    padding: 15px 51px;
    border-radius: 79px;

    @include large {
      padding: 12px 40px;
      border-radius: 74px;
    }

    @include medium {
      margin-right: 5px;
    }

    @include small {
      padding: 15px 70px;
      border-radius: 79px;
    }
  }

  &__show-results-remove-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;

    @include large {
      height: 47px;
      width: 47px;
    }
  }

  &__filter-list {
    margin-top: 20px;
  }

  &__filter-list-item {
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      color: $yellow;
    }
  }
}