@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "styles/variables";
@import "styles/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 14px 'Inter', sans-serif;
  background-color: $bgColor;
  color: $grey3F;
  line-height: 21px;
}

button {
  transition: transform .3s ease-out;
  display: inline-block;
}

button:hover {
  cursor: pointer;
  transform: translate(0, -5px);
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.contacts {
  &__num {
    font-weight: 600;
    line-height: 21px;
  }

  &_num-black {
    color: $black;
  }

  &__schedule {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }

  &__link {
    font-size: 10px;
    line-height: 15px;
    color: inherit;
  }
}

.info {
  &__bold {
    font-weight: 600;
    line-height: 18.2px;
    font-size: 14px;

    @include large {
      font-size: 12px;
    }
  }

  &_bold-black {
    color: $black;
  }

  &__regular {
    font-weight: 300;
    line-height: 15.6px;
    font-size: 12px;
  }
}

.info p {
  margin: 0;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.active-type {
  color: $yellow !important;
  font-weight: 500 !important;

  &:hover {
    font-weight: 700 !important;
  }
}

.info-msg {
  margin: 20px 0;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  padding: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 15px;
  width: 100%;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__number {
    font-weight: 500;
    line-height: 18.2px;
    margin: 0 10px;
  }

  &__btn {
    display: inline-block;
    padding: 3px 15px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-color: transparent;
    border-radius: 15px;
  }
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  width: 30%;
  margin: 0 auto;

  &__page {
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__prev,
  &__next {
    padding: 10px 15px;
  }

  &__active {
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 50%;
  }
}